<head>

	<title>{{ .Title }} - {{.Params.subtitle}}</title>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="{{.Params.meta.description}}">
	<meta name="keywords" content="{{.Params.meta.keywords}}">

	<meta property="og:site_name" content="Ontwerper.com">
	<meta property="og:url" content="https://ontwerper.com/">
	<meta property="og:locale" content="nl_NL">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ .Title }} - {{.Params.subtitle}}">
	<meta property="og:description" content="{{.Params.meta.description}}">
	<meta property="og:image" content="https://www.ontwerper.com{{.Params.meta.socialcard}}">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@harryvanmierloo">
	<meta name="twitter:title" content="{{ .Title }} - {{.Params.subtitle}}">
	<meta name="twitter:description" content="{{.Params.meta.description}}">
	<meta name="twitter:image" content="https://www.ontwerper.com{{.Params.meta.socialcard}}">

	<link rel="canonical" href="https://ontwerper.com/" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">
	<meta name="theme-color" content="#fff">

	<!-- <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->

	{{ $stylesheet := .Site.Data.webpack.main }}
	{{ with $stylesheet.css }}
		<link href="{{ relURL . }}" rel="stylesheet">
	{{ end }}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131591253-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-131591253-1');
	</script>

</head>