html {
  font-size: var(--font-size);

  @media (--breakpoint-medium) {
    font-size: var(--font-size-m);
  }

  @media (--breakpoint-large) {
    font-size: var(--font-size-l);
  }
}


body {
  font-family: var(--font-family);
  font-size: var(--spacing-default);
  font-weight: var(--body-font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main);
  line-height: 1.5rem;
 }

p {
  color: var(--text-main);
  margin-bottom: var(--spacing-default);
}

strong {
  font-weight: var(--bold-font-weight);
}

em {
  font-style: italic;
}

sup {
  font-size: .6rem;
  font-weight: var(--bold-font-weight);
  vertical-align: super;
}

h1, h2, h3, h4 {
  font-weight: var(--bold-font-weight);
  padding: var(--spacing-default);
}

h1 {
  font-size: 150%;

  @media (--breakpoint-not-small) {
    font-size: 200%;
  }
}

h2 {
  font-size: 150%;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
