:root {

	/* Colors */
  --brand-red: #C3373F;
  --yellow-light: #EDE9D6;
  --green-dark: #171F0D;
  
  --white: #FFFFFF;
  --black: #000000;

	/* Typography */
	--font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 1rem;
	--font-size-m: 1.5rem;
	--font-size-l: 2rem;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-half: 0.5rem;
	--spacing-default: 1rem;
	--spacing-double: 2rem;

	/* Miscelaneous */
	--cut-height: 4rem;

	/* Borders */
	--border-radius: .25rem;

	/* Shadows */
	--shadow-box: 0 0 var(--spacing-default) rgba(0, 0, 0, 1);
	--shadow-text: 0 0 3px rgba(0, 0, 0, 0.75);

	/* Media queries */
	@custom-media --breakpoint-not-small screen and (min-width: 480px);
	@custom-media --breakpoint-medium screen and (min-width: 960px);
	@custom-media --breakpoint-large screen and (min-width: 1280px);
}
