:root {

	/* Colors */
  --papaya: #FEA166;
  --living-coral: #FF6F61;
  --raspberry: #D64161;
  --magenta-haze: #9D446E;
  --dark-purple: #3F315D;
  --dark-grey: #1E1A34;
  
  --white: #FFFFFF;
  --black: #000000;

	/* Typography */
	--font-family: "Avenir", system-ui;
	--font-family-heading: 'Lietz-LindauHamburg';
	--line-height: 1.5;

	--font-size: 1rem;
	--font-size-m: 1.25rem;
	--font-size-l: 1.5rem;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-half: 0.5rem;
	--spacing-default: 1rem;
	--spacing-double: 2rem;

	/* Miscelaneous */
	--cut-height: 3rem;

	/* Borders */
	--border-radius: .25rem;

	/* Shadows */
	--shadow-box: 0 0 var(--spacing-default) rgba(0, 0, 0, 1);
	--shadow-text: 1px 1px 2px rgba(0, 0, 0, 0.25);
  	--shadow-image: 0 3px 6px rgba(0, 0, 0, 0.25);
  	--shadow-button: var(--spacing-half) var(--spacing-half) 0 var(--dark-purple);
}