.theme--alt {

  --color-main: var(--living-corale);
  --text-main: var(--dark-grey);
  --text-alt: var(--papaya);
  --text-faded: #888;
  --text-inverted: var(--white);
  --text-heading: var(--color-main);
  --text-heading-alt: var(--dark-purple);

  --logo-main: var(--dark-purple);
  --logo-sub: var(--raspberry);

  --background-base: var(--white);
  --background-block: var(--papaya);
  --background-why: var(--white);
  --background-how: var(--raspberry);
  --background-quote: var(--raspberry);
  --background-about: var(--dark-purple);
  --background-title: var(--color-main);
  --background-footer: var(--dark-grey);

  --button-primary: var(--color-main);

  --border-default: 1px solid #eee;

}
