.theme--default {

  --color-main: var(--brand-red);
  --text-main: var(--white);
  --text-alt: var(--orange-light);
  --text-heading: var(--orange-light);

  --logo: var(--text-main);

  --background-base: var(--green-dark);
  --background-title: var(--color-main);

}
