.theme--alt {

  --color-main: var(--white);
  --text-main: var(--black);
  --text-alt: #666;
  --text-heading: var(--green-dark);

  --logo: var(--text-main);

  --background-base: var(--white);
  --background-title: var(--color-main);

}
