/* Reset includes */
@import './imports/_reset';
@import './imports/_box-sizing';

/* Variables */
@import './imports/_variables';

/* Themes */
@import './imports/themes/theme-default.css';
@import './imports/themes/theme-alt.css';

/* Modules */
@import './imports/_typography';


html * {
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

body {
  background-color: var(--background-base);
}

.hero {
  min-height: 100vh;
}

.hero__title {
  background: var(--background-title);
  color: var(--logo);
  display: inline-block;
  margin-top: var(--spacing-double);
  padding: var(--spacing-default);
  text-transform: uppercase;
}

.hero__subtitle {
  bottom: 4rem;
  text-shadow: var(--shadow-text);
  display: inline-block;
  left: 0;
  position: absolute;
  text-transform: uppercase;
}

.hero__subtitle span {
  color: var(--text-alt);
  display: block;
  font-size: 50%;
}

.theme--switcher {
  position: sticky;
  float: right;
  margin-right: var(--spacing-default);
  top: var(--spacing-double);
}

.block {
  padding: var(--spacing-default);
}

.block__title {
  color: var(--text-heading);
}

.block__title,
.block__copy {
  text-align: center;
}
