/* Reset includes */
@import './imports/_reset';
@import './imports/_box-sizing';

/* Variables */
@import './imports/_variables';

/* Themes */
@import './imports/themes/theme-default.css';
@import './imports/themes/theme-alt.css';

/* Modules */
@import './imports/_typography';


/* GENERAL */

html {
  background-color: var(--background-base);
}

html * {
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

footer {
  background: transparent;
  border-top: var(--border-default);
  margin-top: var(--spacing-double);
  padding: var(--spacing-default);
  text-align: center;
}

footer p {
  color: var(--text-faded);
  margin: 0;
}

/* HERO */

.hero {
  background-position: center;
  background-size: cover;
  min-height: 130vh;
}

.hero__title {
  background: var(--background-title);
  color: var(--logo);
  display: inline-block;
  margin-top: var(--spacing-double);
  padding: var(--spacing-default);
  text-shadow: var(--shadow-text);
  text-transform: uppercase;
}

.hero__subtitle {
  bottom: 8rem;
  color: var(--logo);
  text-shadow: var(--shadow-text);
  display: inline-block;
  left: 0;
  position: absolute;
  text-transform: uppercase;
}

.hero__subtitle span {
  color: var(--text-alt);
  display: block;
  font-size: 50%;
}

/* THEME SWITCHER */

.theme--switcher {
  position: sticky;
  float: right;
  margin-right: var(--spacing-default);
  top: var(--spacing-double);
}

/* BLOCKS */

.block {
  background-color: var(--background-block);
  padding: var(--spacing-default);
  padding-bottom: calc( var(--cut-height) + var(--spacing-default) );
  position: relative;
}

.block__content {
  color: var(--text-main);
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}

.block__title {
  color: var(--text-heading);
  text-transform: uppercase;
}

.block__title,
.block__copy {
  text-align: center;
}

.block__why {
  background: var(--background-why);
}

.block__why .block__copy {
  color: var(--text-inverted); 
}

.block__why .block__title {
  color: var(--text-inverted);
}

/* CUT */

.cut--bottom:after {
  bottom: 0;
  content: '';
  position: absolute;
  right: 0;
  border-bottom: var(--cut-height) solid var(--background-base);
  border-left: 100vw solid transparent;
}

.hero.cut--bottom:after {
  bottom: -30vh;
  border-bottom: var(--cut-height) solid var(--background-why);
}

.block__why.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-block);
}
