/* Reset includes */
@import './imports/_reset';
@import './imports/_box-sizing';

/* Variables */
@import './imports/_variables';

/* Themes */
@import './imports/themes/theme-default.css';
@import './imports/themes/theme-alt.css';

/* Modules */
@import './imports/_typography';


/* GENERAL */

html {
  background-color: var(--background-base);
}

html * {
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}


/* HERO */

.hero {
  background-position: center;
  background-size: cover;
  height: 60vh;

  @media (--breakpoint-large) {
    height: 80vh;
  }
}

.hero .logo {
  left: var(--spacing-default);
  padding: var(--spacing-default) 0;
  position: absolute;
  max-width: 50vw;
  top: var(--spacing-double);

  @media (--breakpoint-medium) {
    top: 25vh;
  }

  @media (--breakpoint-large) {
    left: calc( (100vw - 960px ) / 2);
  }
}

.logo__title {
  color: var(--logo-main);
  font-size: 175%;
  padding: 0;
  text-transform: uppercase;

  @media (--breakpoint-medium) {
    font-size: 200%;
  }

  @media (--breakpoint-large) {
    font-size: 58px;
  }
}

.logo__title span {
  font-size: 25%;
}

.logo__subtitle {
  color: var(--logo-sub);
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0;
}

/* THEME SWITCHER */

.theme--switcher {
  position: sticky;
  float: right;
  margin-right: var(--spacing-default);
  top: var(--spacing-double);
}

/* BUTTON */

.button {
  box-shadow: var(--shadow-button);
  display: inline-block;
  font-size: 125%;
  padding: var(--spacing-half) var(--spacing-default);
  text-decoration: none;
  text-shadow: var(--shadow-text);
  transition: 0.25s;
}

.button:hover {
  padding: 0.75rem 1.5rem;
  margin: -0.25rem;
}

.button--primary {
  background-color: var(--button-primary);
  color: var(--text-inverted);
}


/* BLOCKS */

.block {
  background-color: var(--background-block);
  padding: var(--spacing-default);
  padding-bottom: calc( var(--cut-height) + var(--spacing-default) );
  position: relative;
}

.block__content {
  color: var(--text-main);
  margin: 0 auto var(--spacing-double);
  max-width: 960px;
  text-align: center;
}

.block__title {
  color: var(--text-heading);
  padding: var(--spacing-double) 0;
  text-transform: uppercase;
}

.block__copy {
  margin-bottom: var(--spacing-double);
}

.block__withimage .block__content {
  @media (--breakpoint-medium) {
    text-align: left;
  }
}

.block__withimage .block__copy {
  @media (--breakpoint-medium) {
    max-width: calc( 50% - 1rem);
  }
}

.block__image {
  box-shadow: var(--shadow-image);
  height: 40vh;
  margin-bottom: var(--spacing-double);
  margin-left: calc(var(--spacing-default) * -1);
  object-fit: cover;
  width: 100vw;

  @media (--breakpoint-medium) {
    height: auto;
    width: calc(50% - 1rem);
    float: right;
  }
}

.block__quote {
  font-size: 150%;
  line-height: 1.2;
}

.block__quote .block__content {
  margin: var(--spacing-default) auto 0;
}

.block__quote .quote__text {
  color: var(--text-inverted);
}

.block__quote .quote__author {
  color: var(--text-alt);
  font-family: var(--font-family-heading);
  margin-top: var(--spacing-double);
  text-transform: uppercase;
}

.block__why        { background: var(--background-why); }
.block__how        { background: var(--background-how); }
.block__references { background: var(--background-references); }
.block__quote      { background: var(--background-quote); }
.block__about      { background: var(--background-about); }

.block__how .block__title {
  color: var(--text-heading-alt);
}

.block__about .block__copy {
  color: var(--text-inverted); 
}

.block__about .block__title {
  color: var(--text-inverted);
}

/* CUT */

.cut--top:before {
  top: calc( var(--cut-height) * -1 );
  content: '';
  position: absolute;
  right: 0;
  border-bottom: var(--cut-height) solid var(--background-base);
  border-left: 100vw solid transparent;
}

.cut--bottom:after {
  bottom: 0;
  content: '';
  position: absolute;
  right: 0;
  border-bottom: var(--cut-height) solid var(--background-base);
  border-left: 100vw solid transparent;
}

.block__why.cut--top:before {
  border-bottom: var(--cut-height) solid var(--background-why);
}

.block__why.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-how);
}

.block__how.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-quote);
}

.block__references.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-about);
}

.block__quote.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-about);
}

.block__about.cut--bottom:after {
  border-bottom: var(--cut-height) solid var(--background-footer);
}


/* FOOTER */

.footer {
  background: var(--background-footer);
  color: var(--text-inverted);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-double);
  padding-bottom: 4rem;
  text-align: center;
}

.footer .logo__title,
.footer .logo__title span,
.footer .logo__subtitle {
  color: var(--text-inverted);
}

.footer__info {
  color: var(--text-alt);
  margin: var(--spacing-default) auto 0;
  text-align: left;
}

.footer__info--item {
  display: block;
  font-size: normal;
  font-weight: normal;
  text-decoration: none;
  transition: none;
}

.footer__info--item:hover {
  color: var(--text-inverted);
}

.footer__info--item span {
  display: inline-block;
  width: var(--spacing-double);
  transition: none;
}
