{{ define "main" }}

<div class="theme--switcher" style="display: none">
  <button value="default">Default</button>
  <button value="alt">Alt</button>
</div>

<div class="hero" style="background-image: url({{ .Params.image }})">
  <div class="logo">
    <h1 class="hero__title">Ontwerper<span>.com</span></h1>
    <h2 class="hero__subtitle">{{.Params.subtitle}}</h2>
  </div>
</div>

<div class="block text--block block__why cut--top cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.why.heading}}</h2>
    <div class="block__copy">{{.Params.why.text}}</div>
    <a class="block__button button button--primary" href="{{.Params.why.button.link}}">{{.Params.why.button.text}}</a>
  </div>
</div>

<div class="block text--block block__how cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.how.heading}}</h2>
    <div class="block__copy">{{.Params.how.text}}</div>
  </div>
</div>

<div class="block text--block block__about cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.about.heading}}</h2>
    <div class="block__copy">{{.Params.about.text}}</div>
  </div>
</div>

{{ end }}
