{{ define "main" }}

<div class="theme--switcher" style="display: none">
  <button value="default">Default</button>
  <button value="alt">Alt</button>
</div>

<div class="hero" style="background-image: url({{ .Params.image }})">
  <div class="logo">
    <h1 class="logo__title">Ontwerper<span>.com</span></h1>
    <h2 class="logo__subtitle">{{.Params.subtitle}}</h2>
  </div>
</div>

<div class="block block__why cut--top cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.why.heading}}</h2>
    <div class="block__copy">{{ with .Params.why.text }}{{ . | safeHTML }}{{ end }}</div>
    <a class="block__button button button--primary" href="{{.Params.why.button.link}}" onclick="gtag_report_conversion(this.href);">{{.Params.why.button.text}}</a>
  </div>
</div>

<div class="block block__how cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.how.heading}}</h2>
    <div class="block__copy">{{ with .Params.how.text }}{{ . | safeHTML }}{{ end }}</div>
  </div>
</div>

<div class="block block__references cut--bottom">
  <div class="block__content">
    <div class="references__intro">{{.Params.references.intro}}</div>
    <ul class="references__logos">
      {{ range .Params.references.logos }}
        <li class="references__logo">
          <a target="blank" href="{{ .link }}">
            <img src="{{ .logo }}" alt="{{ .client }} logo" />
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>

<!-- <div class="block block__quote cut--bottom">
  <div class="block__content">
    <div class="quote__text">{{ with .Params.quote.text }}{{ . | safeHTML }}{{ end }}</div>
    <div class="quote__author">- {{ .Params.quote.author }}</div>
  </div>
</div> -->

<div class="block block__withimage block__about cut--bottom">
  <div class="block__content">
    <h2 class="block__title">{{.Params.about.heading}}</h2>
    <img class="block__image" src="{{.Params.about.image}}" alt="{{.Params.about.imagealt}}" />
    <div class="block__copy">{{ with .Params.about.text }}{{ . | safeHTML }}{{ end }}</div>
  </div>
</div>

{{ end }}
